/* ----desk---*/
.news{
    width: 1200px;
    margin:0 auto;  
    display: flex;
}
.news article img{
    width: 100%;
}
.news article{
    margin:5px 10px;
    width: 25%;
    display: flax;
    flex-direction: column;
    justify-content: space-between;
}

.news .main{
    width: 50%;
}
.news .main + article{
    order: -1 ;
}

/* MOBILE*/
@media(max-width :1240px){
.news{
    width: 92%;
   flex-direction: column;

}
.news article,
.news .main{
    width: 100%;
}
.news .main{
    order: -2;
}
}




